{% extends "polls/header.html"%}
{% block content %}

<h1 class="my-4">Confirm Your Current Order - {{ restaurantName }}
</h1>

<form method="post" action="{% url 'confirmOrder' %}">
    {% csrf_token %}
    {% if orderLocation %}
    <h3>Order Location - {{ orderLocation }}</h3>
    {% else %}
    <h4>Order address is required. Please type here</h4>
    <input type="text" required name="orderLocation" class="form-control" id="orderLocation">
    {% endif %}
    
    <div class="row custyle">
        <table class="table table-striped custab">
        <thead>
            <tr>
                <th>Food Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
            {% for item in orderItems %}
            <tr id="row_{{ item.includeId }}">
                <td>{{ item.foodName }}</td>
                <td>{{ item.price }}</td>
                <td>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-danger btn-number"  data-type="minus" data-field="{{ item.includeId }}">
                                <span class="glyphicon glyphicon-minus">-</span>
                            </button>
                        </span>
                        <input type="text" name="{{ item.includeId }}" class="form-control input-number" value="{{ item.quantity }}" min="0" max="10">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="{{ item.includeId }}">
                                <span class="glyphicon glyphicon-plus">+</span>
                            </button>
                        </span>
                    </div>
                </td>
                <td class="text-center">
                    <button class="btn btn-info btn-xs updateBtn"><span class="glyphicon glyphicon-edit"></span> Update</button> 
                    <button class="btn btn-danger btn-xs deleteBtn"><span class="glyphicon glyphicon-remove"></span> Delete</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="btn-ground text-center" style="padding-bottom: 30px">
        <button type="button submit" class="btn btn-primary btn-lg confirmBtn">Confirm Order</button>
        <a type="button" class="btn btn-primary btn-lg cancelBtn" href="{% url 'cancelOrder' %}" style="color:blue;">Cancel Order</a>
    </div>
</form>
{% endblock %}

{% block javascript %}
<script>
$(".updateBtn").click(function () {
    var cell = $(this).parent().parent().find("input")
    $.ajax({
        type:"POST",
        url:"{% url 'updateItem' %}",
        data: {
            'includeId':cell.attr("name"),
            'quantity':cell.val(),
            'csrfmiddlewaretoken':'{{ csrf_token }}'
        },
        success: function(data){
            console.log(data) 
        }
    });
    return false;
});
    
$(".deleteBtn").click(function () {
    var cell = $(this).closest('tr').find("input")
    var row_id = "#row_"+cell.attr("name")
    $.ajax({
        type:"POST",
        url:"{% url 'deleteItem' %}",
        data: {
            'includeId':cell.attr("name"),
            'csrfmiddlewaretoken':'{{ csrf_token }}'
        },
        success: function(data){
            console.log(data)
            $(row_id).hide();
        }
    });
    return false;
});
</script>
{% endblock %}