{% extends "polls/header.html"%}
{% block content %}
   <meta charset="utf-8">

    <style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
        margin-bottom: 50px;
    }
    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }
    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }
    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }
    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }
    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }
    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }
    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }
    .invoice-box table tr.item td{
        border-bottom: 1px solid #eee;
    }
    .invoice-box table tr.item.last td {
        border-bottom: none;
    }
    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }
    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }
        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }
    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }
    .rtl table {
        text-align: right;
    }
    .rtl table tr td:nth-child(2) {
        text-align: left;
    }
    </style>


<h1 class="my-4">Your Order On {{order.time}}
</h1>

<div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="3">
                <table>
                    <tr>
                        <td>
                        Invoice #: {{order.id}}<br>
                        Created: {{order.time}}<br>
                        Order address: {{order.location}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="3">
                <table>
                    <tr>
                        <td>
                        Restaurant name: {{order.restaurantName}}<br>
                        Restaurant location: {{order.restaurantLocation}}<br>
                        Minimum delivery requirement: ${{order.minOrderFee}}
                        </td>

                        <td>
                        Your name: {{user.username}}<br>
                        Your email: {{user.email}}<br>
                        Order total: ${{order.orderTotal}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="heading">
            <td>Item</td>
            <td>Item Price</td>
            <td>Quantity</td>
            <td>Total Price</td>
        </tr>

        {% for item in order.items %}
        <tr class="item">
            <!--<tr id="row_{{ item.id }}">-->
            <td>{{ item.foodName }}</td>
            <td>{{ item.price}}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.totalPrice }}</td>
            <!--</tr>-->
        </tr>
        {% endfor %}
        
        <tr class="top">
            <td colspan="3">
                <table>
                    <tr>
                        <td>
                        SharedOrder #: {{order.sharedOrder}}<br>
                        Tentative Pickup Location: {{order.pickUpLoc}}<br>
                        Status:  {{order.status}}
                        </td>
                    </tr>
                </table>
                <iframe src="//www.google.com/maps/embed/v1/directions?key=AIzaSyC1pyIJ2JYc6W01spt0-r5zp_ekmKCiQvs&origin={{order.orderUrl}}
      &destination={{order.pickUpUrl}}&mode=transit" style="margin: auto; width: 90%;">
  </iframe>
            </td>
        </tr>
        
    </table>
</div>

{% endblock %}