{% extends "polls/header.html"%}
{% block content %}
{% load staticfiles %}

<div class="container">
    
    <div class="row my-4">
		<div class="col-lg-6">
            <p style="font-size:2vw"color="black">Hello, {{user.username}}!</p>
            <!-- SIDEBAR MENU -->
            <div class=".bg-white">
                <a href="{% url 'currentOrders' %}" class="media tm-media tm-recommended-item">
                    <img src="{%static 'polls/img/food_current_order.jpg'%}" alt="Image">
                    <div class="media-body tm-media-body tm-bg-gray">
                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Current Orders</h4>
                    </div>
                </a>
                <a href="{% url 'orderHistory' %}" class="media tm-media tm-recommended-item">
                    <img src="{%static 'polls/img/food_order_history.jpg'%}" alt="Image">
                    <div class="media-body tm-media-body tm-bg-gray">
                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Order History</h4>
                    </div>
                </a>
            </div>
            <!-- END MENU -->
        </div>
    
        <div class="col-lg-6">
            <div class="card text-center">
                <div class="card-header">
                    <h4>Your Restaurant Preferences</h4>
                </div>
                <form>
                    <div class="card-body">
                        {% for type in allTypes %}
                            <div class="form-check">
                                {% if type in preferences %}
                                    <input type="checkbox" class="form-check-input" value="{{ type }}" checked="checked">
                                {% else %}
                                    <input type="checkbox" class="form-check-input" value="{{ type }}">
                                {% endif %}
                                <label class="form-check-label" for="checkbox104">{{ type }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary updateBtn">
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
      
</div>

<br>
<br>
{% endblock %}

{% block javascript %}
<script>
$(".updateBtn").click(function () {
    var checked = [];
    $('.form-check-input:checked').each(function() {
        checked.push(this.value);
    });
    
    $.ajax({
        type:"POST",
        url:"{% url 'updatePrefs' %}",
        data: {
            'updatedPrefs':checked,
            'csrfmiddlewaretoken':'{{ csrf_token }}'
        },
        success: function(data){  
            console.log("preferences updated: "+checked);
            alert("Preferences updated!");
        }
    });
    return false;
});

</script>
{% endblock %}