{% extends "polls/header.html"%}
{% block content %}

<!-- Page Heading -->

<h1 class="my-4">Restaurants
</h1>

<div class="row my-4">
    <div class="col-lg-12">
            <div class="card">
                <form action="{% url 'restaurants'%}" method="get">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                {% if orderLocation %}
                                <input type="text" name="orderLocation" class="form-control" id="orderLocation" value="{{ orderLocation }}">
                                {% else %}
                                <input type="text" name="orderLocation" class="form-control" id="orderLocation" value="Type your address here">
                                {% endif %}
                            </div>
                        </div>
                        {% for type in allTypes %}
                            <div class="form-check-inline" style="padding-left: 10px">
                                <div class="col-sm-12" >
                                    {% if type in preferences %}
                                        <input type="checkbox" name="foodTypeList" class="form-check-input" value="{{ type }}" checked="checked">
                                    {% else %}
                                        <input type="checkbox" name="foodTypeList" class="form-check-input" value="{{ type }}">
                                    {% endif %}
                                    <label class="form-check-label" for="checkbox104">{{ type }}</label>
                                </div>
                            </div>
                        {% endfor %}
                        <button type="button" class="btn btn-outline-primary allBtn">
                            Choose all food types
                        </button>
                    </div>
                    <div class="card-footer">
                        <button type="button submit" class="btn btn-primary updateBtn">
                            Search
                        </button>
                    </div>
                </form>
            </div>
        </div>
</div>

<div class="row">
    {% for restaurant in restaurants %}
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{ restaurant.image }}" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <form method="post" action="{% url 'restaurantDetails' %}">
                        {% csrf_token %}
                        <input type="hidden" name="restaurantId" value="{{ restaurant.id }}" />
                        <a href="#" class="restaurantLink">{{ restaurant.name }}</a>
                    </form>
                </h4>
                <ul class="card-text">
                    <li>Type: {{ restaurant.type }}</li>
                    <li>Location: {{ restaurant.location }}</li> <!-- fixed restaurant type -->
                    <li>Price Range: {{ restaurant.priceRange }}</li>
                    <li>Hours: {{ restaurant.hour }}</li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block javascript %}
<script>
$(".restaurantLink").click(function () {
    console.log("enter restaurantDetails");
    $(this).parent().submit();
    return false;
});
    
$(".allBtn").click(function () {
    $('input:checkbox').prop('checked', "checked");
});
</script>
{% endblock %}